*{
  box-sizing: border-box;
}

html, body{
  margin:0;
  padding:0;
  font-size:1rem;
  font-family: 'Lato', sans-serif;
  background-blend-mode:color-dodge;
  background: #39587f url(/public/image/World_map_with_points.svg);
  color:whitesmoke;
  /* display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%; */
}

.full-cont{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container{
  display:flex;
  flex-direction: column;
  width:60%;
  padding:30px;
  margin: 0 auto;
  background: #264265;
  border-radius:5px;
  
}

@media screen and (max-width: 980px) {
  .container {width: 90%;}
}

.header-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  width:100%;
  margin:30px 0 50px;
  /* background:white; */
  /* border:1px solid white; */

}


.header-div h1{
  font-size: 30px;
  color:whitesmoke;
}




.cont{
  display: flex;
  flex-direction:column;
  width:100%;
  justify-content: center;
  align-items: center;
  margin:10px 0;
}

.amount-cont{
  width: 100%;
  margin:20px  0 20px;

}

.main-cont{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap:15px;
}

.select-cont{
  width:50%;
}

.toggle-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 10%; */
  height: 60px;
  padding:10px;
  margin:10px 0;
  cursor: pointer;
  border-radius: 5px;
  /* background:#50af8f; */
  border: 1px solid rgba(225, 225, 225, 0.40);
}

.sm, label{
  font-size:0.95rem;
  color:rgba(225, 225, 225, 0.40);
}

h1{
  font-weight: 400;
  margin:0;
}

label{
  text-align: left;
}

input, select{
  width:100%;
  height: 60px;
  padding:10px;
  margin:10px 0;
  font-size:1rem;
  border-radius: 5px;
  color:whitesmoke;
  border: 1px solid rgba(225, 225, 225, 0.40);
  background-color: transparent;
}


input:focus, select:focus{
  outline: none;
}

option{color:gray}

select{
  width: 100%;
}

button{
  width: 100%;
  height: 50px;
  color:whitesmoke;
  text-transform: uppercase;
  font-size:1.2rem;
  letter-spacing: 1px;
  background: #20a87b;
  outline:none;
  border:none;
  border-radius: 5px;
  margin-top: 20px;
  cursor:pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: background 0.3s;
}

button:hover{
  background:#1fa075;
}

.offline{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  text-align: center;
  color:rgba(225, 225, 225, 0.40);
  font-style:italic;
  font-size: 1.5rem;
  margin:50px 0;
}